@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #151515;
  --color-secondary: #757575;
  --color-gray: rgba(255, 255, 255, 0.5);
}

p,
h1,
h2,
h3 {
  font-family: 'Inter', sans-serif;
}
.title {
  font-size: 2.2rem;
  font-weight: 900;
  letter-spacing: -2px;
}

.subtitle {
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 150%;
  letter-spacing: 0.00563rem;
}

.titleSmall {
  color: #efffe2;
  text-align: center;
  font-size: 3.75rem;
  font-family: Inter;
  font-weight: 900;
  letter-spacing: -0.18525rem;
}

@media (min-width: 425px) {
  .title {
    font-size: 3rem;
  }

  .subtitle {
    font-size: 0.8rem;
    line-height: 180%;
  }
}
@screen lg {
  .title {
    font-size: 7rem;
    font-weight: 900;
    line-height: 152.5px;
    letter-spacing: -5.187px;
  }

  .subtitle {
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 195.5%;
    letter-spacing: 0.00563rem;
  }

  .titleSmall {
    color: #efffe2;
    text-align: center;
    font-size: 4.75rem;
    font-weight: 900;
    letter-spacing: -0.18525rem;
  }
}

@screen 2xl {
  .title {
    font-size: 8.3125rem;
    font-weight: 900;
    line-height: 152.5px;
    letter-spacing: -5.187px;
  }

  .subtitle {
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 195.5%;
    letter-spacing: 0.00563rem;
  }

  .titleSmall {
    color: #efffe2;
    text-align: center;
    font-size: 4.75rem;
    font-weight: 900;
    letter-spacing: -0.18525rem;
  }
}
.typewriter {
  font-size: 8px;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
}

.typewriter code {
  display: block;
  padding: 1rem;
  animation: typing 3.5s steps(40, end) infinite;
  animation-fill-mode: forwards;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
}

@keyframes typing {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

pre {
  padding: 10rem;
  overflow: auto;
  border-radius: 3px;
  max-width: 100%;
}
