.sectionBackground {
  background-image: url('/images/background.png');
  background-position: left 127% bottom;
  width: 1500px;
  height: 900px;
  clip-path: path(
    'M1.11411 139.045C-0.351046 73.6258 -1.08362 40.9162 18.9214 20.4581C38.9265 0 71.6443 0 137.08 0H1255.92C1321.36 0 1354.07 0 1374.08 20.4581C1394.08 40.9162 1393.35 73.6258 1391.89 139.045L1376.62 820.657C1375.85 854.825 1375.47 871.908 1364.69 882.454C1353.9 893 1336.82 893 1302.64 893H90.3612C56.185 893 39.0968 893 28.3122 882.454C17.5276 871.908 17.145 854.825 16.3798 820.657L1.11411 139.045Z'
  );
}
